# Salesforce
.sf/
.sfdx/
.localdevserver/
deploy-options.json
delta/

# LWC
**/lwc/jsconfig.json
coverage/

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Eslint cache
.eslintcache

# OS
.DS_Store
Thumbs.db

# Local env
.env

# Pipeline artifacts
rollback-snapshot/
drift-check/
sfCommandTests.txt
deploy-result.json
rollback-result.json
